@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-primary: 255, 255, 255;
  --background-secondary: 180, 223, 216;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-primary));
  overflow-y: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
