/** Mobile **/
@media only screen and (max-width: 767px),
  only screen and (max-device-width: 767px) {
  .input-desktop {
    display: none;
  }
  .input-mobile {
    display: flex;
  }
}

/** Desktop **/
@media only screen and (min-device-width: 768px) {
  .input-desktop {
    display: flex;
  }
  .input-mobile {
    display: none;
  }
}

.animated-text {
  animation: color-change 7s infinite;
}

@keyframes color-change {
  0% {
    color: #51b5a5;
  }
  25% {
    color: #dcc45a;
  }
  50% {
    color: #3b8bff;
  }
  75% {
    color: #b78b66;
  }
  100% {
    color: #ff611c;
  }
}
